@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

color = #111
.center
  position absolute
  nw 50%

.motion-effect
  position absolute
  overflow visible
  .bit
    background #777
  &--slice
    .bit
      rect 200%
      left: -200%
      background color
      position absolute
      opacity 0

  &--burst
    border-radius 50%
    width  = gs/8
    height = 0*gs
    .bit
      width  width
      height height
      margin-top  -(height/2)
      margin-left -(width/2)
      position absolute
      nw 50%
      transform-origin left bottom

  &--bubble
    border-radius 50%
    // hll()
    .bit
      rect 0
      position absolute
      nw 50%
      border-radius 50%
      border 0 solid color
      background transparent
      transform translateX(-50%) translateY(-50%)









