@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'


.center
  position absolute
  nw 50%

.motion-effect
  position relative
  overflow hidden
  &--slice
    .bit
      rect 200%
      left: -200%
      background white
      position absolute
      opacity 0

  // hl deeppink
  // .bit
  //   rect 20px
  //   background deeppink
  &--burst
    width  = gs/4
    height = 0*gs
    // hll deeppink
    border-radius 50%
    .bit
      width  width
      height height
      margin-top  -(height/2)
      margin-left -(width/2)
      background deeppink
      position absolute
      nw 50%
      transform-origin left bottom

// .wrap
//   position absolute
//   rect 100%
//   nw 0


    
    


