doctype
html
  head
    meta(charset='UTF-8')
    title motion
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body

    .custom-radio
      input(type="radio").custom-radio__radio
      .custom-radio__dot

    //- VENDOR
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.js")
    script(src="js/main.js")
    script(src="js/helpers.js")
    script(src="js/bit.js")
    
    //- EFFECTS
    script(src="js/burst.js")
    script(src="js/slice.js")
    script(src="js/bubble.js")
        



